################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppleDev/bin/Debug
/AppleDev/obj/Debug
/AppleDev/.vs/AppleDev/v16
/AppleDev/obj/x64/Debug
/AppleDev/packages
/AppleDev/bin/x86/Debug
/AppleDev/obj/x86/Debug
/Suna/bin/Debug
/AppleDev/obj/Release
/Suna/obj/Release
/AppleDev/bin/Release
/Suna/obj/Debug
